.flex{
    display: flex;

}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.search-bar{
    grid-column: 1 / span 4;
}
.grid-items{
    display: flex;
    flex-direction: column;
}
.article-columns{
    display: grid;
    grid-template-columns: auto auto;
    border: black 1px solid;
}
.grid-footer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.top-border{
    border-top: 1px solid black;
}


.ad-column{
    margin-left: 20px;
    
}

.content{
    
    border-right: 1px solid black;
}

.wrapper{
    margin: 20px;
    border: black 1px solid;
}

.dropdown {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blueviolet;
    width: 100%;
    padding-left: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}